body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    min-height: 100vh;
}

.ant-collapse-collapsible-disabled {
    cursor: default !important;
    color: rgba(0, 0, 0, 0.88) !important;
    background-color: #fff !important;
}

/*.ant-collapse-item .ant-collapse-content {*/
/*    border-top: none;*/
/*}*/

.ant-collapse-content-box {
    padding-top: 0 !important;
}
