<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/svg+xml" href="/favicon-light.svg">
        <script>
            const darkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
            document.querySelector("link[rel='icon']").href = darkMode ? '/favicon-dark.svg' : '/favicon-light.svg';
        </script>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>

</html>
