{% extends 'base.html.twig' %}

{% block title %}Register or sign in{% endblock %}

{% block body %}
    <div {{ react_component('Login') }}>
        Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>
{% endblock %}
