{% extends 'base.html.twig' %}

{% block title %}Lista dei processi dell'utente{% endblock %}

{% block body %}
    <div {{ react_component('userProcesses') }}>
        Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>
{% endblock %}
