{% extends 'base.html.twig' %}

{% block title %}Componenti del processo{% endblock %}

{% block body %}
    <div {{ react_component('ProcessInfo', { processId }) }}>
        Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>
{% endblock %}
