{% extends 'base.html.twig' %}

{% block title %}Users list{% endblock %}

{% block body %}
    <div {{ react_component('UserEditList') }}>
        Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>

{% endblock %}
