{% extends 'base.html.twig' %}

{% block title %}User profile{% endblock %}

{% block body %}
    <div {{ react_component('UserProfile', { user: user }) }}>
        Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>
{% endblock %}
